body{
    font-family: "Poppins", serif;
    letter-spacing: 0.5px;
    background: #e5ecfb;
}

.javed-text{
    transition: 1s ease; 
}
.javed-text:hover{
    color: #ff7b00;
    transform: scale(1.1); 
}
.right-side-menu-item{
    color: #0e2431;
    font-weight: 600;
}
/* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*//* underline HOver effect y=0 to y=-5 start*/

.underline-efect{
    padding: 0px;
    margin-left: 30px;
    text-decoration: none; 
    position: relative; 
}

.underline-efect::after {
    content: '';
    position: absolute; 
    left: 0; 
    bottom: 0; /* Initial position at the bottom of the text */
    height: 2px; /* Underline thickness */
    width: 100%; 
    background: rgb(255, 255, 255); /* Underline color */
    transition: bottom 0.3s ease; /* Transition for the vertical movement */
}

.underline-efect:hover::after {
    bottom: -5px; /* Move to 5px below the text on hover */
    background: blue; /* Underline color */
}


/* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*//* underline HOver effect y=0 to y=-5 End*/


header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.contaainer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    display: flex;


}

.background-video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.video-content{
    position: relative;
    z-index: 2;
    color: white;
    padding: 20px;
    display: flex;
    margin-left: 8%;
    width: 100%;


}


.custom-rounded {
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
    border-radius: 8px; 
  
}

.custom-rounded:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.384);
}

.hidden-div {
    display: none;
}

.hover-div:hover + .hidden-div {
    display: block;
}
.about-me-buton{
 
    color: #fff;
    background: #2506ad;
    width: 150px;
    transition: 1s ease;
    
}


.about-me-buton:hover{
 
    color: #fff;
    background: #2506ad;
    
}
.about-me-buton:hover i{
 
    color: #fff;
    background: #2506ad;
    margin-left: 10px;
    transition: 1s ease;
   
    
}
/* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*//* For Hover Image Black to Color Start*/
.image-container {
    position: relative;
    width: 100%; 
    max-width: 400px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease;
}

.image-container img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover img.hover-image {
    opacity: 1;
}

h1, p {
    margin-bottom: 20px; 
}

/* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*//* For Hover Image Black to Color End*/
.headline-center{
    padding-bottom: 0px;
}

.subshadow-for-3rd-container{
    background: rgba(0, 0, 22, 0.4);
    
}
.education-1 {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.452);
}
.education-1:hover{

    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.671);
    
}
.education-2 {
    transition:  0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.384);
}
.education-2:hover{

    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.671);
    
}

.container5 {
    background: linear-gradient(to bottom, #000031, #00002c);
    min-height: 80vh;

}

.prents-card {
    border-radius: 10px;
    overflow: hidden;
    margin-left: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;

}

.foronly-flex-on-card {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}


.child-card-img {
    height: 300px;
    width: 300px;

}

.child-card-text {
    background: #ffd900;
    width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.viewall-btn {
    margin: auto;
    background: linear-gradient(to bottom, #000031, #00002c);
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: white;
    border-color: white;
    border-radius: 10px;
    transition: 1s ease;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
}

.viewall-btn:hover {
    color: black;
    background: white;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
    border-radius: 50px;
    text-align: center;
}



.container-6 {
    background: #e5ecfb;
    min-height: 90vh;
}

.parent-div-for-cont-6 {

    display: flex;
    justify-content: center;
    background: whitesmoke;
    border-radius: 20px;
    width: 80%;
}

input,textarea {
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    background: #e5ecfb;
    display: block;
    padding: 2px;


}



.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #d0e2f2;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background: #e5ecfb;
    margin-top: 20px;
}

.input-container .icon {
    margin-right: 10px;
    font-size: 18px;
    color: #000;
}

.input-container input,.input-container textarea {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
}

.sticky {
    position: fixed;
    z-index: 1000;
}

.about-me-btn {
    border-style: none;
    font-size: 20px;
    
    border-radius: 35px;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
   

}

.footer-link {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease, fill 0.3s ease; 
  }

  .footer-link:hover {
    color: orange; 
  }

  .footer-link:hover svg {
    fill: orange; 
  }
